﻿.grid_2_items {
    display: flex;
    gap: 15px;
}

.img-product {
    width: 70%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title-product {
   text-align: center;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 500px;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    height: 50px;
    padding: 15px;
    text-align: left;
}

table {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 50%;
}

.tran {
    width: 100%;
    height: 250px;
}

.price h1 {
    margin: 0px 10% 0 10%;
    font-size: 30px;
}


.grid_3_items {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.icons {
    width: 13%;
}

.cicrle-ava {
    border-radius: 50%;
    grid-area: img;
    width: 40%;
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 15px;
}

hr {
    border: 2px solid black;
    width:50%;
}

/* Nav and footer css */

.nav {
    overflow: hidden;
    background-color: black;
    top: 0;
    width: 100%;
    z-index: 100;
}

.flex {
    display: flex;
    justify-content: space-around;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: black;
}

    /* Links inside the navbar */
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 30px 16px;
        text-decoration: none;
    }

a.navbar-brand {
    text-align: center;
    align-content: center;
    float: left;
    padding: 25px 16px;
}

.navbar .icon {
    display: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

    /* Dropdown button */
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 30px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
    }

    /* Add a red background color to navbar links on hover */
    .navbar a:hover:not(.navbar-brand, .signup), .dropdown:hover .dropbtn {
        background-color: #00fceb;
        color: black;
    }

a.signup:hover {
    background-color: unset;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        /* Add a grey background color to dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



.nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px 20px;
    text-decoration: none;
    font-size: 17px;
    align-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

    .nav a:hover {
        background: #00f9e8;
        color: black;
    }

.navbar .logo-image img {
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}


.button {
    background-color: #00f9e8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a.signup:hover {
    background-color: black;
}

#signup{
  visibility: visible;
}

.footer_col {
    align-content: center;
    justify-content: center;
    display: flex;
    grid-gap: 3%;
}

    .footer_col a:link {
        text-decoration: none;
        color: white;
    }

    .footer_col a:visited {
        text-decoration: none;
        color: white;
    }

    .footer_col a:hover {
        text-decoration: none;
        color: #00f9e8;
    }

    .footer_col a:active {
        text-decoration: none;
    }

.footer_column3 {
    font-size: 30px
}


/*Reposive for the phone*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1024px) {
    .navbar .logo-image img {
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -6px;
    }

    a.navbar-brand div {
        float: unset;
    }

    .dropdown-content {
        min-width: 100%;
    }

    .navbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .navbar a {
        float: left;
        padding: 20px 16px;
    }

        .navbar a.icon {
            float: right;
            display: block;
            padding: 30px 16px;
        }

    .price h1 {
        font-size: 25px;
    }

    .price h2 {
        font-size: 23px;
    }

    .main-fee {
        padding: 0;
    }

    div.img-banner-fee {
        height: 100px;
    }

    .register-page .form {
        width: 100%;
    }

    footer .flex .first, .second, .zero {
        display: none;
    }

    footer .flex .three {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-account .grid_2_items {
        flex-direction: column;
    }

        .main-account .grid_2_items .first-main .ul {
            font-size: 30px;
        }

        .main-account .grid_2_items .second-main .account_form {
            width: 100%;
        }

        .main-account .grid_2_items .second-main h1 {
            text-align: center;
        }

        .main-account .grid_2_items .second-main .button {
            width: 100%;
        }

    img.cicrle-ava.center_img {
        width: 20%;
    }
}

@media only screen and (max-width: 375px) {
    .footer_column0 {
        text-align: center;
    }

    .footer_column1 {
        text-align: center;
    }

    .footer_column2 {
        text-align: center;
    }

    .footer_column3 {
        text-align: center;
    }

        .footer_column3 h3 {
            display: inline-block;
        }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer_col {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }


    img.cicrle-ava.center_img {
        width: 30%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 812px) {

    .footer_column0 {
        text-align: center;
    }

    .footer_column1 {
        text-align: center;
    }

    .footer_column2 {
        text-align: center;
    }

    .footer_column3 {
        text-align: center;
    }

        .footer_column3 h3 {
            display: inline-block;
        }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer_col {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }


    img.cicrle-ava.center_img {
        width: 30%;
    }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1024px) {

    .grid_2_items {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .navbar.responsive {
        position: relative;
    }

        .navbar.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

    .navbar div {
        float: left;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .navbar.responsive .dropdown {
        float: none;
    }

    .navbar.responsive .dropdown-content {
        position: relative;
    }

    .navbar.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 481px) {
    .myinformation_form {
        padding-left: 4%;
    }
}


/**Responsive for ipad*/
@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait) {
    .register-page .form {
        max-width: 600px;
    }

    .flex_1 {
        padding-left: 0%;
        display: inline-block;
    }

    div.grid_2_items {
        padding-left: 5%;
    }
}
/* Nav and footer css*/

.button {
    border-radius: 5px;
    border-style: solid;
    border-color: #00fceb;
    background-color: black;
    padding: 12px 16px;
    color: #00fceb;
    display: block;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 5px; /* Remove padding */
    margin: 5px; /* Remove margins */
}


.flex_horizone {
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100%;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    padding-top: 10%;
    width: 360px;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            background: #43A047;
        }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a {
            color: #007674;
            text-decoration: none;
        }

    .form .register-form {
        display: none;
    }

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }

            .container .info span a {
                color: #000000;
                text-decoration: none;
            }

            .container .info span .fa {
                color: #EF3B3A;
            }

.login-header {
    background-color: black;
    justify-content: center;
    align-content: center;
}


.banner {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 30px;
    height: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row-contact {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

.container_aboutus {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
}

.ava_picture {
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.container {
    padding: 10px;
}

@media screen and (max-width: 1000px) {

    .column {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

.fa-facebook-official {
    font-size: 20px;
    color: #3B5998;
    text-decoration: none;
}

.fa-google-plus {
    font-size: 20px;
    color: #dd4b39;
    margin-left: 3%;
    text-decoration: none;
}

main {
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #f4f4ff;
}

.aside_contact {
    margin-left: 5%;
    width: 40%;
    height: inherit;
    border: 3px solid violet;
    background-color: white;
    overflow-wrap: break-word;
}

.form_contact {
    float: right;
    text-align: center;
    border: 3px solid violet;
    margin-right: 5%;
    width: 50%;
}

section.container_contact {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin: 30px;
    background: rgba(233, 231, 231, 0.849);
    ;
    border: 1px solid black;
}


.comment_contact {
    float: left;
    width: 100%;
    height: auto;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 100px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

#contactday {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
}

    #contactday div {
        display: inline-flex;
        padding-left: 1%;
    }

input.contact_checkbox {
    width: 20px;
    height: 20px;
}

option.text-color {
    color: white;
}

#select_style {
    -webkit-appearance: menulist-button;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    color: black;
}

button.style_button {
    margin-top: 10%;
    margin-right: 30px;
    height: 50px;
    width: 200px;
    background-color: rgb(189, 178, 169);
    font-size: 15px;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
}

    button.style_button:hover {
        background-color: #3e678e
    }

    button.style_button:active {
        background-color: #3e8e4f;
        box-shadow: 0 2px #666;
        transform: translateY(0px);
    }

[class*="col-"] {
    float: center;
    padding: 15px;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


@media (max-width: 1200px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media (max-width: 872px) {
    #contactday {
        display: flex;
        color: rgb(0, 0, 0);
        font-size: 18px;
        text-align: left;
        flex-direction: column;
    }

    .row-contact {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 0%;
        padding-right: 0%;
    }
}

.faq-section {
    margin: 40px 0;
    position: relative;
    padding-right: 20%;
    padding-left: 20%
}

    /*Hide the paragraphs*/
    .faq-section p {
        display: none;
    }

    /*Hide the checkboxes */
    .faq-section input {
        position: absolute;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        display: none\9; /* IE8 and below */
        margin: 0;
        width: 100%;
        height: 36px;
    }

    /*Show only the clipped intro */
    .faq-section label + p {
        display: block;
        color: #999;
        font-size: .85em;
        transition: all .15s ease-out;
        /* Clipping text */
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    /*If the checkbox is checked, show all paragraphs*/
    .faq-section input[type=checkbox]:checked ~ p {
        display: block;
        color: #444;
        font-size: 1em;
        /* restore clipping defaults */
        text-overflow: clip;
        white-space: normal;
        overflow: visible;
    }

    /*Style the label*/
    .faq-section label {
        font-size: 1.2em;
        background: #eee;
        display: block;
        position: relative;
        height: 6%;
        padding: 7px 10px;
        font-weight: bold;
        border: 1px solid #ddd;
        border-left: 3px solid #888;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        transition: all .15s ease-out;
    }

        /*Remove text selection when toggle-ing*/
        .faq-section label::selection {
            background: none;
        }

        .faq-section label:hover {
            background: #f5f5f5;
        }

    /*If the checkbox is checked, style the label accordingly*/
    .faq-section input[type=checkbox]:checked ~ label {
        border-color: #000000;
        background: #c0c0c0;
        background-image: #fff, #c5c5c5;
        box-shadow: 0 0 1px rgba(0,0,0,.4);
    }

    /*Label's arrow - default state */
    .faq-section label::before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -6px;
        border: 6px solid transparent;
        border-left-color: inherit;
    }

    /*Update the right arrow*/
    .faq-section input[type=checkbox]:checked ~ label::before {
        border: 6px solid transparent;
        border-top-color: inherit;
        margin-top: -3px;
    }

    .faq-section input {
        position: absolute;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        display: none\9; /* IE8 and below */
        margin: 0;
        width: 100%;
        height: 36px;
    }

.faq_container {
    padding-top: 5%;
    padding-right: 20%;
    padding-left: 20%;
}

    .faq_container h1 {
        font-size: 2vw;
    }

@media (max-width:600px) {

    .faq_container h1 {
        font-size: 5vw;
    }

    .faq-section {
        padding-right: 5%;
        padding-left: 5%
    }
}

@media (max-width: 1024px) and (min-width:846px) {
    li.flex_1 {
        padding-left: 0%;
        display: inline-block;
    }

    .myinformation_form {
        padding-left: 4%;
    }
}
