@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before{
  position: absolute;
  content: "";
}

html, body{
  width: 100vw;
  font-size: 16px;
  line-height: 150%;
  color: black;
}

a{
  text-decoration: none;
}

.shop-img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

main{
  padding: 5% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
/*Select catagory*/

/* Format the A-Z navigation*/
#info {
  font-size: 18px;
  color: #2c3e503a;
  text-align: center;
  margin-bottom: 25px;
}
.scrollbar {
  margin-left: 25%;
  float: left;
  height: 300px;
  width: 200px;
  background: #2c3e50;
  overflow-y: scroll;
  margin-bottom: 25px;
}
#wrapper {
  text-align: center;
}

/* #style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(68, 68, 156, 0);
} */

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(163, 163, 163);
}

#style-3::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

.navside li {
  text-align: center;
  list-style-type: none;
}

.navside a {
  color: white;
  padding: 15px;
  display: block;
  text-decoration: none;
}
.navside a:hover {
  background-color: #345372f5;
}
h1, h2{
  text-align: center;
  margin-bottom: 2rem;
}
.shop-container{
  width: 100%;
}
.shop-list{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.shop-item__image{
  position: relative;
  padding-bottom: 150%;
  overflow-y: hidden;
}



.shop-item__name{
  text-align: center;
  margin: 1rem 0;
  font-weight: 500;
  cursor: pointer;
  color: #2c3e50;
}
.shop-item__name a{
  color: #2c3e50;
}
.shop-item__name:hover{
  font-size: 1.5rem;
  color: #2c3e50;
}

.shop-item__btn{
  position: absolute;
  width: 200px;
  border: 2px solid whitesmoke;
  text-align: center;
  padding: 1rem 0;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  
}
.shop-item__btn:focus, .shop-item__btn:hover{
  background-color: whitesmoke;
  color: #000;
}


@media only screen and (min-width: 768px){
  h1,h2{
    font-size: 2em;
  }
  .shop-list{
    gap: 1.5rem;
  }
  .shop-item__image{
    padding-bottom: 100%;
  }
  .shop-item__btn{
    font-size: 2rem;
    width: 250px;
    padding: 2rem 0;
  }
  .shop-item__name{
    font-size: 2rem;
    margin: 1.5rem 0;
  }
}

@media only screen and (min-width: 1024px){
  main{
    flex-direction: row;
  }
  .side-bar{
    flex-basis: 30%;
  }
  .shop-container{
    padding: 0 2rem;
  }
  .shop-list{
    grid-template-columns: 1fr 1fr 1fr;
  }


  .shop-item__btn{
    opacity: 0;
    font-size: 1rem;
    width: 170px;
    padding: 1rem 0;
  }

  .shop-item__image:hover > .shop-item__btn{
    opacity: 1;
  }
  .shop-item__name{
    font-size: 1.2rem;
  }  
  .scrollbar {
  margin-left: 15%;
  float: left;
  height: 600px;
  width: 200px;
  overflow-y: scroll;
}
}