
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row-contact{
    padding-top: 2%; 
    padding-bottom: 2%; 
    padding-left: 15%; 
    padding-right: 15%;
  }

  .aside_contact{
        margin-left: 5%;
        width: 40%;
        height:inherit;
        border: 3px solid violet ;
        background-color: white;
        overflow-wrap: break-word;
  }

  .form_contact{
        float: right;
        text-align: center;
        border: 3px solid violet ;
        margin-right: 5%;
        width: 50%;
  }

  section.container_contact{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin: 30px;
    background: rgba(233, 231, 231, 0.849); ;
    border: 1px solid black;
    
}


  .comment_contact {
    float: left;
    width: 100%;
    height: auto;
}

  .textinput {
    float: left;
    width: 100%;
    min-height: 100px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

#contactday {
    color: rgb(0, 0, 0);
    font-size:18px;
    text-align: center;
    
}

#contactday div{
    display:inline-flex;
    padding-left: 1%;
}

input.contact_checkbox { 
    width: 20px;
    height: 20px;
} 

option.text-color {
    color: white;
}

#select_style {
    -webkit-appearance: menulist-button;
    margin-left: 10px;
    height: 30px;
    width: 100px;
    color:black;
    background-color: rgb(180, 180, 180);
}

.style_form_shop{
    padding-right: 50%; 
    padding-top: 2%; 
    padding-bottom: 2%;
}

button.style_button{
    margin-top: 10%;
    margin-right: 30px;
    height: 50px;
    width: 200px;
    background-color: rgb(189, 178, 169);
    font-size: 15px;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;

}
/** ABOUT US SECTION **/
.aboutus-intro{
  margin: 5% 5% 0% 5%;
  text-align: center;
}
.content-about-us-shop h1{
  color: #3e678e;
  font-weight: 300;
}
.content-about-us-shop h5{
  color: #586470;
  font-weight: 300;
  padding-top: 0;
  margin-top: 0;
}
.content-about-us-shop p:last-child{
  color: #586470;
  padding-bottom: 5%;
}


@media (max-width: 533px) {
    .style_form_shop{
        padding-right: 30%; 
        padding-top: 2%; 
        padding-bottom: 2%;
    }
}

@media (max-width: 415px) {
    .style_form_shop{
        padding-right: 0%; 
        padding-top: 2%; 
        padding-bottom: 2%;
    }
}

button.style_button:hover {background-color: #3e678e}

button.style_button:active {
    background-color: #3e8e4f;
    box-shadow: 0 2px #666;
    transform: translateY(0px);
  }

  [class*="col-"] {
    float: center;
    padding: 15px;
  }

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media (max-width: 1200px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  @media (max-width: 872px) {
    #contactday {
        display: flex;
        color: rgb(0, 0, 0);
        font-size:18px;
        text-align: left;
        flex-direction: column;
    }
    .row-contact {
        padding-top: 2%; 
        padding-bottom: 2%; 
        padding-left: 0%; 
        padding-right: 0%;
    }
  }
  @media only screen and (min-width: 1024px){
    .cotainer-about-us{
      text-align: center;
    }
    .img-about-us{
      margin-top: 5%;
      display: inline-block;    
    }
    .img-about-us img{
      width: 70vw;
      height: 60vh;
      object-position: 50% 75%;
    }
    .content-about-us-shop{
      display: inline-block;
    }
    .content-about-us-shop h1{
      color: #3e678e;
      font-weight: 300;
      font-size: 2.5rem;
      width: 70vw;
    }
    .content-about-us-shop h5{
      font-size: 0.8rem;
      width: 70vw;
    }
    .content-about-us-shop p{
      font-size: 1rem;
      width: 70vw;
    }
  }

 