@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Overpass", sans-serif;
  width: 100vw;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 150%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header {
  position: relative;

  width: 100%;
  padding: 18px;
  height: 100%;
  background: url(images/logo1.jpg) no-repeat center center;
  z-index: 1;
}
header::before {
    position: absolute;
    content: '';
  background-image: linear-gradient(
    to bottom right,
    hsl(194, 61%, 22%),
    hsl(194, 50%, 27%)
  );
  opacity: 90%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
nav {
  position: relative;
  width: 100%;
  height: 100px;
  /* z-index: 10; */
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo {
  width: 80px;
  position: relative;
  cursor: pointer;
}
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  /* align-items: center; */
  position: absolute;
  /* padding: 2rem 0; */
  background-color: white;

  font-weight: 600;
  width: 100%;
  height: 80vh;
  font-size: 1.4rem;
  top: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.7s ease-in-out ;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.main-nav li {
  width: 100%;
  text-align: center;

}
.main-nav li a{
    color: black;
}
/* Drop down*/
.dropbtn {
  background-color:transparent;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e5e8e;
}

label{
    cursor: default;
}

.checkbtn {
    display: block;
    cursor: pointer;
    position: relative;
    color: whitesmoke;
}
#check{
    display: none;
  }


#check:checked ~ .main-nav{
    transform: translateX(0);
    opacity: 1;
  }

.hero{
    position: relative;
    text-align: center;
    margin-top: 10%;
}
.hero h1{
    font-size: 2rem;
    color: whitesmoke;
}
.hero p{
    margin-top: 0.7em;
    font-size: 1rem;
    color: whitesmoke;
}
.product-section > h3{
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
    color: royalblue;
    position: relative;
}
.product-section > h3::before{
    position: absolute;
    top: 120%;
    left:50%;
    transform: translateX(-50%);
    content: "";
    width:70%;
    height: 1px;
    background-color: grey;
}
footer{
    background-color:   hsl(194, 61%, 22%);
    color:whitesmoke;
    display: flex;
    height: 100%;
    padding: 10px;
    justify-content: space-between;
}
footer .footer--left p{
    font-size: 0.7rem;
}
.footer-nav a{
    color: whitesmoke;
}
.footer-nav a:hover{
    color: black;
}
@media only screen and (min-width: 1024px){
    .checkbtn{
        display: none;
    }
    .main-nav{
        flex-direction: row;
        /* align-items: center; */
        position: static;
        width: initial;
        /* padding: 2rem 0; */
        background-color:transparent;
        font-weight: 600;
        height: initial;
        font-size: 1.4rem;
        opacity: 1;
        transform: translateX(0);
        border-radius: none;
        box-shadow: none;
        z-index: 1
    }

    .main-nav li {
        display: inline-block;
        width: initial;
        margin-right: 1rem;
    }
    .main-nav li a{
        font-size: 1.3rem;
        color: whitesmoke
    }
    .main-nav li a:hover{
        color: black;
    }

    /* Drop down*/
.dropbtn {
  color:whitesmoke;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

    .hero{
        text-align: center;
        margin-top: 10%;
    }
    .hero h1{
        font-size: 4rem;
        color: whitesmoke;
    }
    .hero p{
        margin-top: 1.5rem;
        font-size: 2rem;
        color: whitesmoke;
    }
    .logo{
        width: 70px;
    }
    footer{
        padding: 2rem;
        height:100%;
    }
    footer .footer--left p{
        font-size: 1.2rem;
    }
    footer .footer-nav a{
        font-size: 1.5rem;
    }
}
