



.shoppingcart_container{
  padding-top: 5%;
  padding-bottom: 2%;
  padding-right: 10%;
  padding-left: 10%;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  text-align: left;
  background-color: #2d445e;
  color: white;
}

.shoppingcart_table{
  padding-top: 5%;
}

.table_cart_title {
  padding: 2.5%;
}

.cart_img_center {
  padding-top: 5%;
  padding-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.input-size{
  display: inline-flex;

}

.input-size > button{
  flex: 1;
}
.input-size > input{
  flex: 2;
  width: 100%;
  font-size: 0.8em;
}

.submit_coupon{
  height:40px; width:10%;
}


button.style_button{
  margin-top: 10%;
  margin-right: 30px;
  height: 50px;
  width: 200px;
  background-color: rgb(189, 178, 169);
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;

}

button.style_button:hover {background-color: #3e678e}

button.style_button:active {
  background-color: #3e8e4f;
  box-shadow: 0 2px #666;
  transform: translateY(0px);
}

.container_total_cart{
  background-color: teal;
  border: solid black;
  margin-left: 30%;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 30px;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.container_cart{
    padding-left: 8.5%;
    padding-right: 7.5%;

}

.table_cart_total {
  padding: 5%;
}

#customers_total {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers_total td, #customers_total th {
  border: 1px solid rgb(0, 0, 0);
}

#customers_total tr:nth-child(even){background-color: #ffffff}

#customers_total tr:hover {background-color: #ffffff}

#customers_total th {
  text-align: left;
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}

.button_style_continue{
  height:40px; 
  width:50%; 
  background-color: rgb(47, 55, 77); 
  color:blanchedalmond; 
  margin-left: 50%;
  cursor: pointer;
}

.button_style_apply{
  height:40px; 
  width:40%; 
  background-color: rgb(47, 55, 77); 
  color:blanchedalmond;
  cursor: pointer;
}


.button_style_order{
  height:40px; 
  width:30%; 
  background-color: rgb(47, 55, 77); 
  color:blanchedalmond; 
  margin-top: 5%;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  /* Table full chiều rộng màn hình, cách đều trái phải 10px */
  
}

@media only screen and (max-width: 555px) {
  div.shoppingcart_table table th,
  div.shoppingcart_table table td {
      display: block;
      border-bottom: none;
  }

  div.shoppingcart_table table tr:last-child td {
      border-bottom: 1px solid #ccc;
  }

input.button_style_apply{
  width: 40%;;
}

 div.shoppingcart_table table{
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  width: 700px;
}

div.shoppingcart_table table th,

div.shoppingcart_table table td {

  padding: 10px;
  text-align: center;
  background-color: #ffffff;
}

td.table_cart_title::before{
  display: none;
}

td.total{
  margin-bottom: 5%;
}

div.shoppingcart_table{
  margin-top: 10%;
}

div.cart_total table td th {
  width: 22%; text-align: center; background-color: white; padding-top: 5%; padding-bottom: 5%;
}

button.button_style_continue {
  margin-left: auto;
}

div.shoppingcart_table table th {
  background-color: #000000;
  display: none;
}
    div.shoppingcart_table table th:nth-of-type(0):before { content: "PRODUCT"; }
    div.shoppingcart_table table td:nth-of-type(2):before { content: "PRODUCT"; }
    div.shoppingcart_table table td:nth-of-type(4):before { content: "PRICE"; color: #3e8e4f; padding-right: 3%;}
    div.shoppingcart_table table td:nth-of-type(6):before { content: "TOTAL"; color: #3e8e4f; padding-right: 3%;}
  }

  @media screen and (max-width: 700px) {

    
    
    .column {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }


  
.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 500px;
    line-height: 1;
    opacity: .75;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 /* Nav and footer css */

.nav {
    overflow: hidden;
    background-color: black;
    top: 0;
    width: 100%;
    z-index: 100;
}

.flex {
    display: flex;
    justify-content: space-around;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: black;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

a.navbar-brand {
    text-align: center;
    align-content: center;
    float:left;
    padding:25px 16px;
}

.navbar .icon {
    display: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 30px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover:not(.navbar-brand, .signup), .dropdown:hover .dropbtn {
    background-color: #00fceb;
    color: black;
}

a.signup:hover{
    background-color: unset;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        /* Add a grey background color to dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



.nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px 20px;
    text-decoration: none;
    font-size: 17px;
    align-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.nav a:hover {
    background: #00f9e8;
    color: black;
}

.navbar .logo-image img {
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.button {
    background-color: #00f9e8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a.signup:hover {
    background-color: black;
}

.footer_col {
    align-content:center;
    justify-content:center;
    display:flex;
    grid-gap: 3%;
}

.footer_col a:link {
    text-decoration: none;
    color:white;
}

.footer_col a:visited {
    text-decoration: none;
    color:white;
}

.footer_col a:hover {
    text-decoration: none;
    color: #00f9e8;
}

.footer_col a:active {
    text-decoration: none;
}

.footer_column3{
    font-size:30px
}

 /*Reposive for the phone*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1024px) {


    .navbar .logo-image img {
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -6px;
    }

    a.navbar-brand div {
        float: unset;
    }

    .dropdown-content{
        min-width: 100%;
    }

    .navbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .navbar a {
        float: left;
        padding: 20px 16px;
    }

    .navbar a.icon {
        float: right;
        display: block;
        padding: 30px 16px;
    }

    .price h1 {
        font-size: 25px;
    }

    .price h2 {
        font-size: 23px;
    }

    .main-fee {
        padding:0;
    }

    div.img-banner-fee {
        height:100px;
    }

    .register-page .form {
        width:100%;
    }

    footer .flex .first, .second, .zero {
        display:none;
    }

    footer .flex .three {
        display: flex;
        flex-direction:row;
        justify-content:space-between;
    }
    .main-account .grid_2_items {
        flex-direction: column;
    }

    .main-account .grid_2_items .first-main .ul {
        font-size:30px;
    }

    .main-account .grid_2_items .second-main .account_form {
        width:100%;
    }

    .main-account .grid_2_items .second-main h1  {
        text-align:center;
    }

    .main-account .grid_2_items .second-main .button {
        width:100%;
    }

    img.cicrle-ava.center_img {
        width: 20%;
    }

   
    


}

@media only screen and (max-width: 375px) {
    .footer_column0{
        text-align: center;
    }

    .footer_column1{
        text-align: center;
    }

    .footer_column2{
        text-align: center;
    }

    .footer_column3{
        text-align: center;
    }

    .footer_column3 h3{
        display: inline-block;

    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .footer_col {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }


    img.cicrle-ava.center_img {
        width: 30%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 812px) {

    .footer_column0{
        text-align: center;
    }

    .footer_column1{
        text-align: center;
    }

    .footer_column2{
        text-align: center;
    }

    .footer_column3{
        text-align: center;
    }

    .footer_column3 h3{
        display: inline-block;

    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .footer_col {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }


    img.cicrle-ava.center_img {
        width: 30%;
    }

   

}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1024px) {

    .cart ion-icon {
        vertical-align: bottom;
        font-size: 20px;
        padding-right: 5px;
     }
     
     .cart a {
         display: none;
         background-color: royalblue;
         color: #fff;
         cursor: pointer;
         text-decoration: none;
     }

.grid_2_items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.navbar.responsive {
    position: relative;
}

.navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}

.navbar div {
    float:left;
}

.navbar.cart {
    text-align: center;
}

.navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
}

.navbar.responsive .dropdown {
    float: none;
}

.navbar.responsive .dropdown-content {
    position: relative;
}

.navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
}
}

@media screen and (max-width: 481px){
    .myinformation_form{
        padding-left: 4%;
    }
}

/**Responsive for ipad*/
@media screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait) {
    .register-page .form {
        max-width: 600px;
    }

    .flex_1{
        padding-left: 0%;
        display: inline-block;
    }

    div.grid_2_items{
        padding-left: 5%;
    }

}
 /* Nav and footer css*/

 .button {
    border-radius: 5px;
    border-style: solid;
    border-color: #00fceb;
    background-color: black;
    padding: 12px 16px;
    color: #00fceb;
    display: block;
}



body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.thankyou_container{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
}