.cart ion-icon {
	vertical-align: bottom;
	font-size: 20px;
	padding-right: 5px;
 }
 
 .cart a {
	 background-color: royalblue;
	 color: #fff;
	 cursor: pointer;
	 text-decoration: none;
 }


body{
  /* background-color: #231e39; */
  background-color: #c8cad1;
  font-family: Montserrat, sans-serif;
  color: #B3B8CD;
}

main * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

footer{
	margin:unset;
	padding: unset;
}

a{
  text-decoration: none;
}

.section-1{
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	font-size: 100%;
}

.slider, .color{
	width: 1.2rem;
	height: 1.2rem;
}

.clear{
	clear: both;
}


/* Start product detail */
.product-detail{
	display: table;
	justify-content: center;
	align-items: center;

	width: 70%;
  /* height: 50%; */
}



.left{
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
  background: whitesmoke;

  float: left;
	width: 50%;
	height: 100%;
}
    .left > *{
      padding: 1.4rem;
    }

		.logo{
		  font-size: 3.5em;
		}
		.logo > img{
		  width: 4rem;
		  height: 4rem;
		}

		.slide-image{
			display: flex;
			overflow-x: hidden;
			overflow-y: hidden;
			scroll-behavior: smooth;

			height: 60%;
			width: 60%;
		}

		.slide-image > div{
			flex-shrink: 0;
			scroll-snap-align: start;
			height: 100%;
			width: 100%;
		}

		.show-img-product{
			height: 110%;
			width: 100%;
		}

		.slides{
		  display: flex;
			justify-content: center;
			align-items: center;

		  height: 20%;
		}
		.slider{
			background: #AFAFAF;
			cursor: pointer;
			transition: 0.3s ease;

			margin: 0px 0.6rem;
			border-radius: 100%;
		}
		.slider:hover{
			transform: scale(1.2);
			box-shadow: 0 0 0 7px rgba(175, 175, 175, .4);
		}

		.arrow {
			position: absolute;
			display: inline;
			cursor: pointer;
			border: solid black;
			transition: 0.3s ease;

			top: 50%;
		  border-width: 0 0.3rem 0.3rem 0;
		  padding: 0.5rem;
		}
		.in-right {
			right: 2rem;
		  transform: rotate(-45deg);
		  -webkit-transform: rotate(-45deg);
		}
		.in-left {
			left: 2rem;
		  transform: rotate(135deg);
		  -webkit-transform: rotate(135deg);
		}
		div.arrow.in-left:hover, div.arrow.in-right:hover{
			border-radius: 100%;
			box-shadow: 0 0 0 8px red;
		}





.right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
  color: #141414;
	font-family: 'Helvetica', sans-serif;

  float: left;
	width: 50%;
	padding: 5%;
	height: 100%;
  text-shadow: 1px 1px 1px rgba(170, 170, 170, 0.3);
}

		/* Padding top/bottom every element inside 'right' div with 0.5rem */
		.right > *{
			padding: 0.5rem 0;
		}

		.left-title{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.right > .title-sale {
			display: flex;
			justify-content: space-between;
		}

		.right .title{
			display: inline;
		}

		.title-sale > img{
			width: 4rem;
			height: 4rem;
		}

		.price-star{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.stars{
			color: #ffd700;
			font-size: 1.5em;
		}

		.price{
			text-align: center;
			font-size: 1.5em;
		}

		.title{
			font-weight: bold;
			color: #141414;

			font-size: 1.4em;
		}

		.block-colors, .block-sizes{
			display: flex;
			justify-content: center;
			align-items: center;

			margin: 5px auto;
			padding: 10px;
			border-radius: 100%;
		}
		.color{
			display: flex;
			justify-content: center;
			align-items: center;
			background: black;
			cursor: pointer;

			transition: 0.3s;
			border-radius: 100%;
			margin: 0px 1rem;
		}
		.size{
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

		  border-radius: 50%;
		  width: 2rem;
		  height: 2rem;
		  margin: 0 1rem;
			transition: .3s ease;
		}
		.color:hover, .size:hover{
			transform: scale(1.2);
			box-shadow: 0 0 0 8px rgba(173, 173, 170, .4);
		}
		.color:active, .size:active{
			transform: scale(.6);
		}
		.color:nth-child(2){
			background: #999999;
		}.color:nth-child(3){
			background: red;
		}

		.selected{
			box-shadow: 0 0 0 4px red;
		}

		.btn-1{
			display: flex;
			align-items: center;
			justify-content: center;
		}
				.purchase{
					text-align: center;
					cursor: pointer;
					transition: .4s ease;
					color: white;
					background-color: #17486a;

					border-radius: 40px;
				  margin: 20px 10px;
					padding: 9px 15px;
				}
				.purchase:hover{
					transform: scale(1.1);
          background-color: #03BFCB;
				}
				.purchase:active{
					transform: scale(.8);
				}





@media screen and (min-width: 1400px){
	body{
		font-size: 120;
	}
	.product-detail{
		width: 60%;
		height: 50%;
	}
  .right > *{
    padding: 1.4rem 0;
  }
	.section-2{
		margin-top: 20%;
	}

	
}


@media screen and (max-width: 800px){
	.btn-1{
		display: block;
	}
	.product-detail{
		width: 100%;
		max-width: none;
	}
  .section-2{
    margin-top: 200px;
  }
}

@media screen and (max-width: 1399px){
	h2 {
		padding-top: 10%;
	}
}

@media screen and (max-width: 570px){
	.left{
		width: 100%;
	}
	.right{
		width: 100%;
	}
	.section-2{
		margin-top: 700px;
	}
}

@media screen and (max-width: 799px) and (min-width:570px) {
	h2 {
		padding-top: 0%;
	}
}





.recommend-title{
  text-align: center;
  color: black;
}

.block-recommend-product{
  width: 75%;
  margin: 10px auto;
  border: 2px solid black;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
}

.recommend-product{
  position: relative;
  display: inline-block;
  width: 150px;
  margin-right: 20px;
}

.recommend-product .recommend-image{
  width: 150px;
  height: 200px;
  vertical-align: bottom;
}

.bar{
  position: absolute;
  background-color: black;

  opacity: 0.6;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
}

.recommend-product .title{
  position: absolute;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  left: 0;
  bottom: 7px;
  width: 100%;
  color: white;
  z-index: 2;
	font-size: 1rem;
}
