main{
  display: flex;
}

aside{
  flex-shrink:0;
  width: 20%;
  margin-top: 45px;
}

a{
  text-decoration: none;
  color: black;
}


.select{
  display: flex;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 75%;
  height: 30px;
  border-radius: 3px;
  box-sizing: border-box;
}

select{
  flex: 1;
  background-color: #528AAE;
  color: white;
  outline: none;
  border: none;
  padding-left: 10px;
  cursor: pointer;
}

.select::before{
  content: '\25BC';
  right: 0;
  padding: 7px;
  pointer-events: none;
  position: absolute;
  color: #91BAD6;
  background-color: #73A5C6;
}

.select:hover::before{
  color:white;
}

@media screen and (max-width: 800px) {
  .select{
    width: 100%;
  }
}




.block-product{
	text-align: center;
	width: 75%;
	margin: 30px auto;
}

p {
margin: 0;
padding: 0;
}

.product{
  display: inline-block;

  box-shadow: 0px 1px 10px 1px #888888;
  width: 250px;
  height: 450px;
  border-radius: 10px;
  margin: 30px;
  background-color: white;
}


.upper{
  width: 100%;
  height: 50%;
  background-color: white;
  border-radius: 10px;
}

    .two-third, .two-third-2{
      width: inherit;
      height: 70%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .two-third{
      background: url('bk.jpg');
    }

    .two-third-2{
      background: url('bk-2.jpg');
    }

    .two-third > h3,.two-third-2 > h3 {
      display: inline-block;
      margin: 10px 0 0 0;
    }
    .two-third-2 > h3 > a{
      color:white;
    }

    .product .upper img{
      width: 180px;
      height: 200px;
    }





.lower{
  display: grid;
  justify-content: center;
  background-color: white;

  width: 100%;
  height: 49%;
  border-radius: 10px;
}

    .price{
      font-weight: 1000;
      font-size: 25px;
    }

    .date{
      margin-left: 70%;
      margin-bottom: 0;
    }

    .description{
      font-size: 16px;
      font-family: 'Helvetica ', sans-serif;
      color: #666666;
    }

    .btn{
      border-radius: 10px;
    }

    .btn-1{
      display: inline-block;
      background-color: #17486a;
      color: white;
      text-decoration: none;

      padding: 12px;
      font-size: 14px;
      border-radius: 30px;
      transition: 0.2s;
    }

    .btn-1:hover{
      background-color: #03BFCB;
    }



@media screen and (max-width: 800px){
	.block-product{
		width: 100%;
	}
  .product{
    width: 70%;
  }
  .two-third > h3,.two-third-2 > h3 {
    display: block;
    margin: 0 0 0 0;
  }
  .date{
    margin-left: 60%;
  }
}

@media screen and (max-width: 500px){
  .search-product{
    margin: 0 auto 100px auto;
    width: 40%;
  }
  main{
    display: block;
  }
}

@media only screen and (min-width: 768px){
  h1,h2{
    font-size: 2em;
  }
  .shop-list{
    gap: 1.5rem;
  }
  .shop-item__image{
    padding-bottom: 100%;
  }
  .shop-item__btn{
    font-size: 2rem;
    width: 250px;
    padding: 2rem 0;
  }
  .shop-item__name{
    font-size: 2rem;
    margin: 1.5rem 0;
  }
}
